<div class="wrapper">
        <div *ngFor="let q of questions" class="QuestionWrapper">
                <div class="oneQestion">
                <label for="question">{{q.contact}}</label>
                <label for="question"> {{q.contact}}</label>
                <p>{{q.massage}}</p>
              </div>

              </div>



<div *ngFor="let rev of reviews" class="reviewWrapper">
    <div class="oneReview">
    <label for="review">{{rev.author}}</label>
    <p>{{rev.message}}</p>
  </div>
</div>
