html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  }
  /* router-outlet ~ * {
    position: absolute;
   
  } */
  router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
form{
  background-color: #D9d8da;
}
input {
 
  
}